.places__place__paragraphs__paragraph {
    /*style*/
    color: var(--textColor);
    font-size: 1.1em;
    line-height: 1.63;
    font-weight: 400;

    /*indentation and sizing*/
    margin: 0 0 26px 0;
}

.places__place__paragraphs__paragraph::nth-last-child() {
    margin: 0;
}

@media screen and (max-width: 896px) {
    .places__place__paragraphs__paragraph {
        font-size: 1em;
    }
}