.cover__title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.05;
    margin: 0 0 16px;
    max-width: 560px;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width: 450px) {
    .cover__title {
        font-size: 2rem;
        margin: 0 0 8px;
        max-width: 251px;
    }

}