.footer{
    /*page-proofs*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*indentation and sizing*/
    max-width: var(--maxWidth);
    margin: 0 auto 24px;
}

@media screen and (max-width: 896px) {
    .footer {
        max-width: var(--maxWidth896px);
    }
}

@media screen and (max-width: 544px) {
    .footer {
        margin: 0 0 24px 16px;
        flex-direction: column;
        max-height: 310px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}